body{
    background-color:yellow;
}
.calc{
    color:black;
    margin-top: 100px;
}
.r{
    width:150px;
    height:40px;
    background-color: darkgray;
    border:none;
    text-align: center;
}
.cancel{
    width:47px;
    height:46px;
    background-color: red;
    border-radius: 10%;
    border:none;
}
.frow{
    width:49.25px;
    height:49px;
    background-color: darkgray;
    border:none;
    border-radius: 10%;
    margin-top: 3px;
    
}
